.popup {
    display: flex;
    visibility: hidden;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition:visibility 0.3s ,opacity 0.3s linear;
    z-index: 1;
  }
 