.profile {
    display: flex;
    max-width: 880px;
    margin: 0 auto;
    align-items: center;
    padding-top: 40px;
  }
  @media screen and (max-width: 910px) {
    .profile {
      flex-direction: column;
    }
  }