.popup__submit_disabled {
  color: #000000;
  background: #E5E5E5;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.2;
  cursor: default;
  transition: visibility 0.3s, opacity 0.4s linear;
}