.header {
  max-width: 880px;
  width: 100%;
  border-bottom: solid 1px rgba(54, 54, 54, 0.7);
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
}
@media screen and (max-width: 920px) {
  .header {
    min-width: 320px;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
