.popup__sumbit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  margin: 48px 0 37px 0;
  outline: none;
  border: none;
  transition: visibility 0.3s, opacity 0.4s linear;
}
.popup__sumbit:hover {
  opacity: 0.8;
}
.popup__sumbit:disabled {
  background: #ffffff;
  opacity: 0.2;
  color: #000000;
  cursor: none;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
}

@media screen and (max-width: 610px) {
  .popup__sumbit {
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 25px 0;
    width: 238px;
    height: 46px;
  }
}
