.popup__close {
  border: none;
  outline: none;
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  background: url(../../../image/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: 32px;
  background-color: rgba(0, 0, 0, 0);

}
.popup__close:hover {
  opacity: 0.6;
}
@media screen and (max-width: 610px) {
  .popup__close {
    right: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}