.popup__fill {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.211);
    padding-bottom: 7px;
    outline: none;
  }
  .popup__fill:last-of-type {
    margin-bottom: 0;
  }