.profile__button-add {
    height: 50px;
    width: 150px;
    background-image: url(../../../image/pluse.svg);
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
    border: 1px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
  }
  .profile__button-add:hover {
      opacity: 0.6;
  }
  @media screen and (max-width: 910px) {
    .profile__button-add {
      margin: 0;
      width: 282px;
      margin-top: 36px;
    }
  }
  