.profile__info {
  display: flex;
}
@media screen and (max-width: 910px) {
  .profile__info {
    max-width: 282px;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 26px;
  }
}
