.profile__info {
    display: flex;
  }
  @media screen and (max-width: 910px) {
    .profile__info {
      width: 282px;
      height: 54px;
      align-items: center;
      justify-content: center;
      align-self: center;
      margin-top: 26px;
    }
  }
  