.element__like-buttone {
    background-image: url(../../../image/heart.svg);
    background-repeat: no-repeat;
    height: 19px;
    min-width: 22px;
    border-style: none;
    background-color: #00000000;
    cursor: pointer;
    padding: 0;
  }
  .element__like-buttone:hover {
    opacity: 0.5;
  }
 /* .element__like-buttone:active {
    background-image: url(../../../image/heart\ active.svg);
    opacity: 10;
  } */